/******************************
General Styling
******************************/

* {
  /*outline: 2px dotted red;*/
}

body {

}


/******************************
Header Styling
******************************/

header {
  padding: 20px;
}

h1 {
  width: 20%;
  text-align: center;
  margin: 0 auto;
}

h3 {
  width: 20%;
  text-align: center;
  margin: 0 auto;
}


/******************************
Table Styling
******************************/

td {
  width: 6.25%;
  outline: 2px solid black;

}

tr {
  border: red;
}

th {
  outline: 2px solid black;
}

h2 {
  position: relative;
  left: 15%;
  padding: 20px;
  background-image: url()

}
.ulWrap {
  width: 30%;
  display: inline;
  float: left;
  margin: 10px 10px;;
  outline: solid 1px black;
}

li {
  font-size:
}
