/******************************
General Styling
******************************/

* {
  /*outline: 2px dotted red;*/
}

body {

}


/******************************
Header Styling
******************************/

header {
  padding: 20px;
}

h1 {
  width: 20%;
  text-align: center;
  margin: 0 auto;
}

h3 {
  width: 20%;
  text-align: center;
  margin: 0 auto;
}


/*****************************
Form Styling
******************************/

form {
  margin: 10px 10px 20px 10px;
}

/******************************
Table Styling
******************************/

td {
  width: 6.25%;
  outline: 2px solid black;

}

tr {
  border: red;
}

th {
  outline: 2px solid black;
}
